// Import vendor css
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'addon';

body {
	background-color: #fff;
	border-radius: 10px;
}