@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../styles/variables';

.notificationList {
  height: 600px - $navbarHeight;
  overflow-y: scroll;

  .loadMoreNotificationButton {
    background-color: $alert-info-bg;
    padding: 3px;
    a {
      color: $alert-info-text;
      cursor: pointer;
    }
  }
}
