@import '../styles/variables';
.infobox {
  z-index: 500;
  position: fixed;
  top: $navbarHeight;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);

  .infobox-content {
    z-index: 500;
    display: block;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    width: $appWidth - 100;
    padding: 10px;
    text-align: left;

    .infobox-close {
      float: right;
      cursor: pointer;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin: 0 0 10px 0;
      text-align: center;
    }
  }
}