@import '../styles/variables';

// Drag fix (top-fix + bottom-fix): https://github.com/nwjs/nw.js/issues/2375#issuecomment-73217446
#top-fix,#bottom-fix{
	-webkit-app-region: no-drag;
	height:0px;
	width:100%;
	position:absolute;

	left:0;
	z-index:0;
	background:red;
}
#top-fix{
	top:0;
}
#bottom-fix{
	bottom:0;
}

div.titlebar {
	background-color: #02A3EF;
	-webkit-app-region: drag;
	position: relative;
	cursor: pointer;
	height: $navbarHeight;

	img.logo {
		margin: 7px;
		height: 30px;
	}

	.close-button, .status-button, .about-button, .settings-button, .notifications-button {
		position: absolute;
		top: 7px;
		font-size: 25px;
		-webkit-app-region: no-drag;

		a span {
			color: #333;
			cursor: pointer;
		}

		a.active {
			border-bottom: 3px solid #FFF;
  			padding-bottom: 2px;
		}
	}

	.close-button {
		right: 7px;
		border: 0;
		padding: 0;
		background: transparent;
	}

	.settings-button {
		right: 43px;
	}

	.about-button {
		position: absolute;
		right: 83px;
	}

	.notifications-button {
		position: absolute;
		right: 123px;
	}

	.status-button {
		position: absolute;
		right: 163px;
	}

	a span.glyphicon-signal {
		color: #12EA3B;
	}

	a span.glyphicon-flash {
		color: #FF0000;
	}
}